{% extends 'index.html' %}
{% load static %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
  <h1 class="health" >Health & Saftey Health Monituring</h1>
  <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque illo molestiae explicabo accusamus
      architecto. Voluptates, mollitia enim? Quaerat corporis, ut minima, amet, earum eius nisi officiis maxime ipsum
      aperiam est.</p>
  <h4 class="git"><a href="https://github.com/SoumyaRanjanPatnaik/Health-And-Safety-Dashboard" > link for git repo</a></h4>


  <h3 class="sensors"> Sensors Required:- 
      
  </h3>
  <div class="sen">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text"> Node MCU</p>
        <a href="https://robu.in/product/nodemcu-cp2102-board/" class="btn btn-primary">Purchace Link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">MCU 6050</p>
        <a href="https://robu.in/product/mpu-6050-gyro-sensor-2-accelerometer/" class="btn btn-primary">Purchace link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">barometere</p>
        <a href="https://robu.in/product/bmp180-digital-barometric-pressure-sensor-board-module-arduino-compatible-2/" class="btn btn-primary">Purchace link</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">LM-35</p>
        <a href="https://robu.in/product/lm35-to-92-3-board-mount-temperature-sensors/" class="btn btn-primary">Purchace link</a>
      </div>
    </div>
  </div>
    
  <div class="cards2">
      
  </div>
  <h1 style="text-align: center;">Prototype Images</h1>
  <div class="images">
  <img src="{% static 'img/Helmet1.jpeg' %}" alt="" width="250" height="300">
  <img src="{% static 'img/Helmet2.jpeg' %}" alt="" width="250" height="300">
  </div>
  <!-- <div class="cse"><h3>Made By:-</h3>-  -->
      <!-- <div class="card">
          <img src="" alt="Avatar" width="300" height="300">
          
            <h4><b>Aditya Shakar</b></h4> 
            <p>CSE(201000001)</p> 
          
          <img src="" alt="Avatar" width="300" height="300">
          
            <h4><b>Bhupendra Chouhan</b></h4> 
            <p>CSE(201000012)</p> 

          <img src="" alt="Avatar" width="300" height="300">

            <h4><b>Kshitiz Kumar Singh</b></h4> 
            <p>CSE(201000023)</p> 

          <img src="" alt="Avatar" width="300" height="300">

            <h4><b> Soumya Ranjan Patnaik</b></h4> 
            <p>CSE(201000052)</p> 


      
  </div> -->
  <div class="aboutus">
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"> Aditya Shakar</p>
          <a href="#" class="btn btn-primary">git link</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Bhupendra Chouhan</p>
          <a href="#" class="btn btn-primary">git link</a>
        </div>
      </div>
      <div class="card" style="width:18rem;">
        <img src="#" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Kshitiz Kumar Singh</p>
          <a href="" class="btn btn-primary">git link</a>
        </div>
      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Soumya Ranjan Patnaik</p>
          <a href="#" class="btn btn-primary">git link</a>
      </div>
  </div>
      
{% endblock %}



</body>

</html>