<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health And Saftey - {{title}}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body onload = "">
   <div class="menubar">
       <div id="app-title">
           <span>Health and Safety</span>
           <span id="expand-menu">☰</span>
       </div>
        <ul id = "menubar-items">
            <li class="{{dash_class}}"><a href="/" data-link> Dashboard </a></li>
            <li class = "{{logs_class}}"><a href="/logs" data-link>Logs</a></li>
            <li class = "{{att_class}}"><a href="/attendance" data-link>Attendance</a></li>
            <li class = "{{about_class}}"><a href="/about1" data-link>About</a></li>
        </ul>
        <span class = "spacer"></span>
    </div>
    {% block content %}
    <div id="sec1-wrapper">
        <section id = "sec1">
            {% for worker in worker_list %}
                <div id="worker{{forloop.counter}}" class="worker">
                    <div class="worker-top">
                        <h3>{{ worker.name }}</h3>
                        <span class="location">{{ worker.location_of_work }}</span>
                    </div>
                    <div class="worker-data">
                        <div class="bpm">
                            <div id = "bpm_curr{{forloop.counter}}" class="bpm_curr"></div>
                            <div id = "bpm_avg{{forloop.counter}}" class="bpm_avg"></div>
                        </div>
                        <div class="height">N/A</div>
                        <div class="status red-text">Offline </div>
                    </div>
                </div>
            {% endfor %}
        </section> 
    </div>
    {% endblock %}
    <div class="vertical_spacer"></div>
    
    <script src="{% static 'js/home.js' %}" ></script>
    {% block scripts %}
        <script>
            number_of_workers  = {{worker_list.count}}
        </script>
    <script src="{% static 'js/dash.js' %}" ></script>
    {% endblock %}
</body>
</html>