<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="refresh" content="100">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health And Saftey - {{title}}</title>
    {% block stylesheet%}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body >
   <div class="menubar">
       <div id="app-title">
           <span>Health and Safety</span>
           <span id="expand-menu">☰</span>
       </div>
        <ul id = "menubar-items">
            <li class="{{dash_class}}"><a href="/"> Dashboard </a></li>
            <li class = "{{logs_class}}"><a href="/logs">Logs</a></li>
            <li class = "{{att_class}}"><a href="/attendance">Attendance</a></li>
            <li class = "{{about_class}}"><a href="/about">About</a></li>
        </ul>
        <span class = "spacer"></span>
    </div>
    {% block content %}
    <div id="sec1-wrapper">
        <section id = "sec1">
            <div id="worker1" class="worker">
                <div class="worker-top"><h3>Worker - 1</h3></div>
            </div>
            <div id="worker2" class="worker">
                <div class="worker-top"><h3>Worker - 2</h3></div>
            </div>
            <div id="worker3" class="worker">
                <div class="worker-top"><h3>Worker - 3</h3></div>
            </div>
            <div id="worker4" class="worker">
                <div class="worker-top"><h3>Worker - 4</h3></div>
            </div>
            <div id="worker5" class="worker">
                <div class="worker-top"><h3>Worker - 5</h3></div>
            </div>
            <div id="worker6" class="worker">
                <div class="worker-top"><h3>Worker - 6</h3></div>
            </div>
            <div id="worker7" class="worker">
                <div class="worker-top"><h3>Worker - 7</h3></div>
            </div>
            <div id="worker8" class="worker">
                <div class="worker-top"><h3>Worker - 8</h3></div>
            </div>
            <div id="worker8" class="worker">
                <div class="worker-top"><h3>Worker - 9</h3></div>
            </div>
        </section>
    </div>
    {% endblock %}
    
    <script src="{% static 'js/home.js' %}" ></script>

</body>
</html>